body{
    background-color: black;
}
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1.5px solid #0026ff;
    transition: 0.5s ease;
    user-select: none;
    text-decoration: none;
  }
  
  #btn:hover,:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }
  .container {
    position: relative; /* Importante para posicionar elementos hijos */
  }
  
  .div1, .div2 {
    width: 400px;
    height: 100px;
    padding: 20px;
  }
  
  .div2 {
    background-color: transparent;
    position: absolute; /* Posicionamiento absoluto */
    margin-top: 420px;
    top: 100px;
    left: 80px;
    z-index: 1; /* Controla el orden de apilamiento */
  }